<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.path.doneng">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_donexg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_donexg_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doneng">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5890212856743526~3876779336"
            />
        <activity
            android:name="com.path.doneng.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

</manifest>